{% extends './base-inicio.html' %}
<!-- Esta plantilla hereda del archivo `base.html`, tomando su estructura y contenido como base. -->

{% block tittle %} Inicio {% endblock %}
<!-- Este bloque define el título de la página como "Inicio". -->

{% block customCSS %}
<!-- CSS -->
<link href='/docs/dist/demo-to-codepen.css' rel='stylesheet' />
<style>
    body {
        margin-top: 40px;
        font-size: 14px;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }

    #external-events {
        float: left; /* Hacer que el contenedor de eventos externos flote a la izquierda */
        width: 150px;
        padding: 0 10px;
        border: 1px solid #eee;
        background: #eee;
        text-align: left;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 3px 0;
        cursor: move;
    }

    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #000000;
    }

    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }

    #calendar-wrap {
        margin-left: 200px; /* Ajustar el margen izquierdo para dejar espacio para el contenedor de eventos externos */
    }

    #calendar {
        max-width: 550px;
        margin: 0 auto;
    }

    h4 {
        color: black;
    }

    a {
      text-decoration: none;
    }
</style>
{% endblock %} 

{% block body %}
<!-- Este bloque define el contenido principal del cuerpo de la página. -->
<div id="notification" class="notification-closed">
  <strong>Hola, {{ current_user.fullname }}. ¡Bienvenido!</strong>
</div>


<div class="b-example-divider"></div>

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap" >
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <a class="btn btn-warning" href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
  </div>
</header>
<br>
<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark d-flex justify-content-center align-items-center">
    <div class="col-md-6 px-0 text-center">
        <h1 class="display-4 fst-italic">TimeReminder</h1>
        <h5 class="lead my-3">¿Quiénes Somos?</h5>
        <p class="lead my-3">
            Somos un equipo comprometido en proporcionarte las mejores herramientas para facilitar tu vida diaria. Con años de experiencia en desarrollo de software y diseño de interfaces muy adaptables al uso, hemos creado TimeReminder con el objetivo de ayudarte a optimizar tu tiempo, mejorar tus hábitos financieros y promover un estilo de vida saludable.
        </p>
    </div>
</div>


  <hr>

  <div id="carouselContainer" class="container">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-video text-center">
              <!-- Implementar video explicativo para las funciones de la pagina -->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-video">
              <!-- Implementar video explicativo para las funciones de la pagina -->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-video text-center">
              <!-- Implementar video explicativo para las funciones de la pagina -->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="container">
            <div class="carousel-video text-center">
              <!-- Implementar video explicativo para las funciones de la pagina -->
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  


  <hr>

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div id='wrap'>

      <div id='external-events'>
        <h4>Task</h4>
  
        <div id='external-events-list'>
          <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 1</div>
          </div>
          <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 2</div>
          </div>
          <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 3</div>
          </div>
          <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 4</div>
          </div>
          <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 5</div>
          </div>
        </div>
  
        <p>
          <input type='checkbox' id='drop-remove' />
          <label for='drop-remove'>remove after drop</label>
        </p>
      </div>
  
      <div id='calendar-wrap'>
        <div id='calendar'></div>
      </div>
  
    </div>
  </div>

  <hr>

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      
    </div>
  </div>

  <hr>

  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      
    </div>
  </div>
</main>

<div class="b-example-divider"></div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
  </footer>
</div>


<script>

</script>

{% endblock %}
