{% extends 'base.html' %}

{% block title %} Cambiar Contraseña {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Cambiar Contraseña</h3>
                </div>
                <div class="card-body">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-info">
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form method="POST">
                        <div class="form-group">
                            <label for="new-password">Nueva Contraseña</label>
                            <input type="password" class="form-control" id="new-password" name="new-password" placeholder="Nueva Contraseña" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">Confirmar Nueva Contraseña</label>
                            <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirmar Nueva Contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Cambiar Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
