{% extends './base.html' %}

{% block title %} Reset Password {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}

<form class="form-signin" method="post">
    <img class="mb-4" src="Colocar url de la imagen de la pagina web" alt="" width="72" height="57">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% endif %}

    {% endwith %}
    <h4 class="h3 mb-3 fw-normal">Reset Password</h4>
    <hr>
    <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
        <label for="email">Email</label>
    </div>
    <br>
    <button class="btn-submit" type="submit">Reset Password</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2024–2050</p>
</form>

{% endblock %}
