{% extends './base.html' %}

{% block title %} Reset Password {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
{% endblock %}

{% block body %}

<form class="form-signin" method="post">
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="contenedor-base">
     <div id="contenedor2" class="contenedor">
         <img class="mb-4" src="static\css\img\logo-original.jpeg" alt="" width="300" height="300">
    </div>

     <div class="contenedor1" class="contenedor" >
        <h4 class="h3 mb-3 fw-normal">Restablecer contraseña</h4>
    <hr>

    <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
        <label for="email">Email</label>
    </div>
    <br>
    <button class="btn-submit" type="submit">Continuar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2024–2050</p>
</div>

</div>


</form>

{% endblock %}